@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color:#1a1a1a;
    font-family: "Space Mono", "Monaco", "Lucida Console", "Courier New", monospace;
    color: white;
    display: flex;
    flex-direction: column !important;
    align-items: center;
    padding-top: 2em;
    height: fit-content;
    width: 95%;

}

span{
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 8em;
    height: auto;
}
h1, h2, h3, p, a{
    margin: 0;
    color: #fff;
    width: fit-content;
}
h3{
    font-size: medium;
}
p, a{
    font-size: small;
}
a:hover{
    color: #D9B149;

}
section{
    display: flex;
    justify-content: start;
    align-items: center;
}
#ysws-tagline{
    font-size: 0.77em;
    font-weight: normal;
    margin: 0.2em;
    text-align: center;
}
#gearbox-title{
    width: 22.5em;
    height: auto;
    margin: 0.2em;
}

#hack-club-logo{
    height: 2em;
}

#faq-section{
    height: fit-content;
    width: 100%;
    background-color: #252525;
    margin: 0;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 1em;
}

#main-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    padding: 1em;
    gap: 1em;
}

#main-section{
    height: 100%;
    width: 40%;
    margin: 0em;
}
.q-a-container{
    padding: 0;
    margin: 0.5em;
    text-align: left;
    display: flex;
    align-items: start;
    flex-direction: column;
}
.images-section{
    margin: 0 2em;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
}

#main-body{
    display: flex;
    align-items: start;

}

#hackclub-tagline{
    text-align: center;
    width: 100%;
}

#rsvp-section{
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: start;
}
.button{
    background-color: #fff;
    color: #1a1a1a;
    height: 2em;
    width: 5em;
    padding: 0 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25em;
    border-radius: 0.5em;
}

#rsvp-button{
    background-image: url(./images/button-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #1a1a1a;
}

#rsvp-button:hover{
    background-image: url(./images/dark-button-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    animation-name:fade;
     color: #f2f2f2;
    animation-duration: 0.25s;
}

@keyframes fade {
    from {     color: #1a1a1a;  background-image: url(./images/button-bg.png);}
    to { background-image: url(./images/dark-button-bg.png); 
         color: #f2f2f2;}
}

@media only screen and (max-width: 600px) {
  #main-body {
    margin-top: 2em;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  .images-section{
    flex-direction: row;
  }
  #faq-section{
        width: 90%;
  }
  section{
    width: 90%;
  }
  #main-content{
    margin: 2em;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width: 90%;
  }
}